CodeAvenueAngularJSApp/Service References/ProductServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2298/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2298/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2298/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Rest_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetails" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProductInCart_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductInCart" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProductInCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductInCartResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProductFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductFromCart" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProductFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductFromCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllProducts" message="tns:IProductService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllProductsResponse" message="tns:IProductService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductDetails" message="tns:IProductService_GetProductDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductDetailsResponse" message="tns:IProductService_GetProductDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddToCart" message="tns:IProductService_AddToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddToCartResponse" message="tns:IProductService_AddToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductInCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/UpdateProductInCart" message="tns:IProductService_UpdateProductInCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/UpdateProductInCartResponse" message="tns:IProductService_UpdateProductInCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteProductFromCart" message="tns:IProductService_DeleteProductFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteProductFromCartResponse" message="tns:IProductService_DeleteProductFromCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ProductService" />
</wsdl:definitions>