CodeAvenueAngularJSApp/Service References/ProductServiceReference/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Rest_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Rest_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataContract" nillable="true" type="tns:ArrayOfProductDataContract" />
  <xs:complexType name="ProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CartID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityInHand" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
</xs:schema>